extends ../layouts/default

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			hr
			if !data.posts
				h2 Invalid Post.
			else
				header
				each post in data.posts
					h1= post.title
					p= post.content
					p= post.count
					p= post.author
					p= post.updateTime
					p= post.href
					p= post.content
					hr