extends ../layouts/default

block intro
	.container
		h1= 'Hello guys'
		
block content
	.container
		if user
			p You are already logged in.
		else
			p Fill form in order to sign up.

			form.contact-form(method="post").row.col-sm-8.col-md-6
				input(type='hidden', name='action', value='user.create')

				.form-group
					label Name

					.row
						.col-sm-6.col-md-6
							input.form-control.input-box(type='text', name='first', value=formData.first, placeholder='First Name')
						.col-sm-6.col-md-6
							input.form-control.input-box(type='text', name='last', value=formData.last, placeholder='Last Name')
				.form-group
						label Email
						input.form-control.input-box(type='email', name='email', value=formData.email, placeholder='Email')
				.form-group
						label Password
						.row
							.col-sm-6.col-md-6
								input.form-control.input-box(type='password', name='password', value=formData.password, placeholder='Password')
							.col-sm-6.col-md-6
								input.form-control.input-box(type='password', name='password_confirm', value=formData.password_confirm, placeholder='Retype password')
				button(type='submit').btn.btn-success Sign up